################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs/XOG.API/v16
/XOG.API/bin
/XOG.API/obj/Debug/edmxResourcesToEmbed/AppCode/DAL
