<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>XogAdmin</title>
    <base href="/Content/admin/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link href="~/admin/styles.css" rel="stylesheet" />
</head>
<body>
    <app-root></app-root>
    <script defer src="~/admin/scripts.js"></script>
    <script defer src="~/admin/polyfills.js"></script>
    <script defer src="~/admin/runtime.js"></script>
    <script defer src="~/admin/main.js"></script>
</body>
</html>