* {
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0) !important;
    -webkit-tap-highlight-color: transparent !important;
}

body {
    opacity: 1;
    transition: 0.5s opacity;
}

    body.fade-out {
        opacity: 0;
        transition: none;
    }

.uk-text-danger.field-validation-error {
    line-height: 10px;
    font-size: 11px;
    position: absolute;
    margin-top: 2px;
}

.main-nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 111;
    background: #fff;
}

.uk-link-no-underline:hover, .uk-link-no-underline:focus {
    text-decoration: none;
}

.uk-container.content {
    min-height: 500px;
    padding-top: 120px;
    height: 100%;
}

.uk-offcanvas-bar {
    border-top: 1px solid #eee;
}

.uk-offCanvas {
    position: static !important;
}

.uk-offcanvas-bar {
    top: 80px !important;
    width: 300px !important;
}

    .uk-offcanvas-bar ul {
        padding: 0 !important;
    }

        .uk-offcanvas-bar ul li.uk-parent ul {
            padding-left: 10px !important;
            font-size: 14px;
        }

        .uk-offcanvas-bar ul li.uk-parent > a::after {
            background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolyline%20fill%3D%22none%22%20stroke%3D%22%23666%22%20stroke-width%3D%221.1%22%20points%3D%221%204%207%2010%2013%204%22%3E%3C%2Fpolyline%3E%0A%3C%2Fsvg%3E");
            transition: ease 0.25s;
            transform: rotate(-90deg) !important;
        }

.uk-dl-horizontal {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding: 10px 5px;
    border-bottom: 1px solid #eee;
}

.uk-description-list.uk-dl-horizontal dt {
    text-align: left !important;
    width: 60%;
}

.uk-description-list.uk-dl-horizontal dd {
    width: 40%;
    text-align: right !important;
}

.uk-description-list.uk-dl-horizontal.gray-highlight {
    background-color: rgba(250, 250, 250, 0.5);
}

.uk-description-list.uk-dl-horizontal.border-top {
    border-top: 1px solid #eee;
}


.uk-offcanvas-bar ul li.uk-parent.uk-open > a::after {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolyline%20fill%3D%22none%22%20stroke%3D%22%23666%22%20stroke-width%3D%221.1%22%20points%3D%221%204%207%2010%2013%204%22%3E%3C%2Fpolyline%3E%0A%3C%2Fsvg%3E");
    transform: rotate(-180deg) !important;
    transition: ease 0.25s;
}

.uk-offcanvas-bar.uk-light {
    background-color: #fff !important;
    color: #333 !important;
    border-top: 1px solid #eee;
    border-right: 1px solid #eee;
}

    .uk-offcanvas-bar.uk-light ul li, .uk-offcanvas-bar.uk-light button, .uk-offcanvas-bar.uk-light h1,
    .uk-offcanvas-bar.uk-light h2, .uk-offcanvas-bar.uk-light h3, .uk-offcanvas-bar.uk-light h4,
    .uk-offcanvas-bar.uk-light h5, .uk-offcanvas-bar.uk-light h6, .uk-offcanvas-bar.uk-light button i {
        color: #333 !important;
    }

    .uk-offcanvas-bar.uk-light a {
        color: #1e87f0 !important
    }

    .uk-offcanvas-bar.uk-light ul li.uk-parent > a::after {
        content: "";
        width: 1.5em;
        height: 1.5em;
        float: right;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolyline%20fill%3D%22none%22%20stroke%3D%22%23666%22%20stroke-width%3D%221.1%22%20points%3D%221%204%207%2010%2013%204%22%3E%3C%2Fpolyline%3E%0A%3C%2Fsvg%3E");
        background-repeat: no-repeat;
        transition: ease 0.25s;
        background-position: 50% 50%;
    }

    .uk-offcanvas-bar.uk-light ul li.uk-parent.uk-open > a::after {
        content: "";
        width: 1.5em;
        height: 1.5em;
        float: right;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolyline%20fill%3D%22none%22%20stroke%3D%22%23666%22%20stroke-width%3D%221.1%22%20points%3D%221%204%207%2010%2013%204%22%3E%3C%2Fpolyline%3E%0A%3C%2Fsvg%3E");
        transform: rotate(-180deg) !important;
        transition: ease 0.25s;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }

.uk-cursor-pointer:hover {
    cursor: pointer !important;
}

.uk-table .uk-table-minwidth {
    min-width: 100px !important;
}

.uk-table-minwidth-extra {
    min-width: 180px !important;
}

@media (max-width: 959px) {
    .uk-table-responsive td.no-responsive, .uk-table-responsive th.no-responsive {
        display: table-cell !important;
    }
}


.uk-pagination .uk-active a {
    font-weight: 400;
    color: #fff !important;
}

.uk-pagination .uk-active {
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #111;
    color: #fff !important;
}


    .uk-pagination .uk-active + li {
        padding-left: 0px;
    }


.m_dropzone {
    background: #eee;
    border: #aaa dotted 1px;
    padding: 56px 10px;
    text-align: center;
    color: #333;
    border-radius: 5px;
    /*background: url(/Content/Themes/UserTheme/Graphics/dropzonebg.png) no-repeat center center;*/
}

    .m_dropzone.dz-started {
        background-image: none;
    }

    .m_dropzone .dz-preview {
        display: inline-block;
        vertical-align: top;
        margin: 5px;
        min-height: 100px;
        width: 130px;
        padding: 5px;
        border-radius: 2px;
        border: 1px solid rgba(0,0,0,0.1);
    }

        .m_dropzone .dz-preview .dz-filename span {
            line-height: 13px;
            font-size: 12px;
            margin: 3px 0px 3px 0px;
        }

    .m_dropzone .dz-progress {
        height: 15px;
    }

        .m_dropzone .dz-progress .dz-upload {
            height: 15px;
            display: block;
            background: linear-gradient(to bottom, #63abc6, #54677A);
            border-radius: 5px;
        }

    .m_dropzone .dz-success-mark {
        width: 30px;
        height: 30px;
        display: inline-block;
        float: left;
        margin: 5px;
        background: #333;
        border-radius: 30px;
        display: none;
    }

    .m_dropzone .dz-error-mark {
        width: 30px;
        height: 30px;
        display: inline-block;
        float: right;
        margin: 5px;
        background: #333;
        border-radius: 30px;
        display: none;
    }

    .m_dropzone .dz-preview:after {
        content: ' ';
        clear: both;
    }

    .m_dropzone .dz-error-message {
        background-color: indianred;
        padding: 0px 10px 0px 10px;
        line-height: 15px;
        font-size: 12px;
        border-radius: 5px;
        text-align: center;
        margin: 3px;
        color: white;
    }

@media (min-width: 960px) {
    .content.uk-offcanvas-padding {
        padding-left: 349px !important;
        transition: 0.25s all ease;
    }

    .content {
        transition: 0.25s all ease;
    }

    .uk-offcanvas.uk-open + .content.uk-offcanvas-init-padding {
        transition: none;
        padding-left: 349px !important;
    }
}

ul.uk-nav-sub.uk.uk-nav-sub > li {
    padding: 4px;
    border: 1px solid #555;
}



/* Loader */


#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

    #preloader #loader {
        display: block;
        position: relative;
        left: 50%;
        top: 50%;
        width: 100px;
        height: 100px;
        margin: -75px 0 0 -75px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #777;
        border-bottom-color: #777;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }

        #preloader #loader:before {
            content: "";
            position: absolute;
            top: 5px;
            left: 5px;
            right: 5px;
            bottom: 5px;
            border-radius: 50%;
            border: 2px solid transparent;
            border-top-color: #fff;
            border-bottom-color: #fff;
            -webkit-animation: spin 3s linear infinite;
            animation: spin 3s linear infinite;
        }

        #preloader #loader:after {
            content: "";
            position: absolute;
            top: 15px;
            left: 15px;
            right: 15px;
            bottom: 15px;
            border-radius: 50%;
            border: 3px solid transparent;
            border-top-color: #aaa;
            border-bottom-color: #aaa;
            -webkit-animation: spin 1.5s linear infinite;
            animation: spin 1.5s linear infinite;
        }

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* End Loader */


/*refresh loader*/

.loader-container {
    margin-top: 20%;
    height: auto;
}

.refresh-loader {
    border: 1.5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 1.5px solid #3498db;
    width: 13px;
    height: 13px;
    margin: 0 auto;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

    .refresh-loader.large {
        width: 30px;
        height: 30px;
    }

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
