@{
    ViewBag.Title = Language("DisplayEmail");
    Theme = "UserTheme";
}

<div class="content">
    <div class="content-title">
        <div class="content-title-inner">
            <div class="container">
                <h1>@ViewBag.Title</h1>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="container">
            <p>Check Your Email For Confirmation Link</p>
        </div>
    </div>
</div>
