@{
    ViewBag.Title = Language("LoginFailure");
    Theme = "UserTheme";
}

<div class="content">
    <div class="content-title">
        <div class="content-title-inner">
            <div class="container">
                <h1>@ViewBag.Title</h1>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="container">
            <h3 class="text-danger">Unsuccessful login with service.</h3>
        </div>
    </div>
</div>
