@{
    ViewBag.Title = Language("ForgotPasswordConfirmation");
    Theme = "UserTheme";
}

<div class="content">
    <div class="container">
        <div class="row">
            <hgroup>
                <h1 class="text-info">@Language("PasswordResetLinkSent")</h1>
                <h2 class="text-info">@Language("PleaseCheckYourEmailToResetYourPassword")</h2>
            </hgroup>
        </div>
    </div>
</div>
