@{
    ViewBag.Title = Language("ResetPasswordConfirmation");
    Theme = "UserTheme";
}

<div class="content">
    <div class="content-title">
        <div class="content-title-inner">
            <div class="container">
                <h1>@ViewBag.Title</h1>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <p>
                @Language("YourPasswordHasBeenResetPlease") @Html.ActionLink(Language("Login"), "Login", "Authentication", routeValues: null, htmlAttributes: new { id = "loginLink" })
            </p>
        </div>
    </div>
</div>
