@model XOG.Areas.MyAdmin.Models.ViewModels.SubCategoryAdminModel

@{
    ViewBag.Title = "Add Sub-Category"; 
}
@using (Html.BeginForm("Add", "SubCategory", new { area = "Admin" }, FormMethod.Post, new { id = "SubCategoryAddForm" }))
{
    <div>
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)
        <h3 class="uk-width-3-5@m uk-align-center">Add Sub Category</h3>

        @Html.Partial("SubCategoryFormPartial", Model)
      
        <div class="uk-width-3-5 uk-align-center">
            <div class="uk-margin-medium uk-align-right@m uk-flex-last uk-margin-small-right">
                <input type="submit" value="Add SubCategory" class="uk-button uk-button-default" />
            </div>
            <a class="uk-button-link uk-link-no-underline" href="@Url.Action("Index","SubCategory", new { area = "Admin" })"><span uk-icon="arrow-left"></span> Back to List</a>
        </div>
    </div>
}
<br /><br /> 

@section Scripts{ 

    <script> 
        $(document).ready(function () {
           // initCategoryImageUpload();
        });
    </script>

}
